
body
{
    background-color: antiquewhite;
    color: darkcyan;   
    display: flex;
    justify-content: center;
    align-items: center;

}
p
{
    font-size: 14px;
}

.constructor
{

    background-color: white;
    display: flex;
    margin: 10%;
    border-radius: 10px;
    width: 649px;
    height: 500px;
    overflow: hidden;
    
}
h2,p
{
    font-family: 'Montserrat', sans-serif;
}
h1
{
    color: black;
    font-family: 'Fraunces', serif;
}
.texto
{
    display: flex;
    margin-left: 50px;
    margin-right: 33px;
    margin-bottom: 33px;
    width: 361px;
    height: auto;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-end;
    
}
.cantidad
{
    color: rgba(60,131,105,255);
}
button
{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    background-color: rgba(60,131,105,255);
    border-style: none;
    color: white;
    margin: auto;
    height: 10%;
    margin: 0;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}
button:hover
{
    background-color: rgba(26,64,49,255)
    
}
.carrito  
{
    background: url(../imagenes/icon-cart.svg) no-repeat 50% 50%;
    background-size: 20px 21px;
    height: 100%;
    width: 90px;
}


